<ng-template
	let-productFtomTemplate="ngIf"
	[ngIf]="getProducts()"
	[ngIfElse]="loaderTemplateRef"
>
	<div appScrollWithLoading class="scroll-container">
		<!--			(loadData)="onLoadData($event)"-->
		<app-product-card
			#card
			class="card"
			[product]="productFtomTemplate[0]"
		></app-product-card>
		<app-product-card
			#card
			class="card"
			[product]="productFtomTemplate[1]"
		></app-product-card>
		<app-product-card
			#card
			class="card"
			[product]="productFtomTemplate[2]"
		></app-product-card>
		<app-product-card
			#card
			class="card"
			[product]="productFtomTemplate[3]"
		></app-product-card>
		<app-product-card
			#card
			class="card"
			[product]="productFtomTemplate[4]"
		></app-product-card>

		<app-product-card
			#card
			class="card"
			[product]="productFtomTemplate[5]"
		></app-product-card>
	</div>
</ng-template>

<ng-template #loaderTemplateRef>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
